/*
  Use the following to include this css file
  <link rel="stylesheet" href="styles1.css" />
*/
h1 {margin-left:20px;
   font-style: italic;
   font-family: serif;}
body {background-color: #F6e9d1;}
